*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
.externalNativeBuild
/videoplaylist
VideoUi
vitamioRecorderLibrary
.idea/inspectionProfiles/
app/app-release.apk

