/.idea/
/.github/
/.gradle/
.gradle/
.idea/libraries/Gradle____local_aars___E__demo_WEB_yjPlay_cronet_libs_android_70_0_3516_0_Release_cronet_cronet_api_jar_unspecified_jar.xml
.idea/libraries/Gradle____local_aars___E__demo_WEB_yjPlay_cronet_libs_android_70_0_3516_0_Release_cronet_cronet_impl_common_java_jar_unspecified_jar.xml
.idea/libraries/Gradle____local_aars___E__demo_WEB_yjPlay_cronet_libs_android_70_0_3516_0_Release_cronet_cronet_impl_native_java_jar_unspecified_jar.xml
VideoPlayModule-Lite/VideoPlayModule-Lite.iml
VideoPlayModule/VideoPlayModule.iml
app/app.iml
ffmpeg/ffmpeg.iml
ima/ima.iml
local.properties
yjPlay.iml
/VideoPlayModule/build/
/VideoPlayModule-Lite/build/
/VideoUi/build/
VideoPlayModule-Lite/build/
VideoPlayModule/build/
/tv/build/
.idea/encodings.xml
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/libraries/Gradle__com_anbetter_MLog_1_1_0.xml
.idea/libraries/Gradle__com_android_support_exifinterface_26_1_0.xml
.idea/libraries/Gradle__com_android_support_multidex_1_0_2.xml
.idea/libraries/Gradle__com_android_support_multidex_instrumentation_1_0_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_2_2_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_2_2_2.xml
.idea/libraries/Gradle__com_android_support_test_exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/Gradle__com_android_support_test_rules_0_5.xml
.idea/libraries/Gradle__com_android_support_test_runner_0_5.xml
.idea/libraries/Gradle__com_davemorrissey_labs_subsampling_scale_image_view_3_9_0.xml
.idea/libraries/Gradle__com_facebook_fresco_animated_base_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_animated_drawable_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_animated_gif_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_animated_webp_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_drawee_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_fbcore_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_fresco_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_helper_fresco_helper_2_0_3.xml
.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_base_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_webpsupport_1_5_0.xml
.idea/libraries/Gradle__com_github_CymChad_BaseRecyclerViewAdapterHelper_2_9_34.xml
.idea/libraries/Gradle__com_github_bumptech_glide_glide_3_7_0_jar.xml
.idea/libraries/Gradle__com_github_ctiao_DanmakuFlameMaster_0_9_25.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_0_jar.xml
.idea/libraries/Gradle__com_parse_bolts_bolts_tasks_1_4_0_jar.xml
.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
.idea/libraries/Gradle__com_squareup_okio_okio_1_14_0_jar.xml
.idea/libraries/Gradle__com_wang_avi_library_2_1_3.xml
.idea/libraries/Gradle__com_ycjiang_VideoPlayModule_2_3_10.xml
.idea/libraries/Gradle__com_ycjiang_VideoPlayModule_Lite_2_3_10.xml
.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_2_jar.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
.idea/libraries/Gradle__junit_junit_4_12_jar.xml
.idea/libraries/Gradle__net_butterflytv_utils_rtmp_client_3_0_1.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/src/main/res/values/ids_2.xml
ffmpeg/buildout/
ffmpeg/extension-ffmpeg.iml
VideoPlayModule-Lite/libs/
VideoPlayModule-Lite/src/main/assets/
VideoPlayModule/libs/
ffmpeg/build/generated/assets/
ffmpeg/build/generated/res/
ffmpeg/build/generated/source/aidl/
ffmpeg/build/generated/source/apt/
ffmpeg/build/generated/source/rs/
ffmpeg/build/intermediates/check-manifest/
ffmpeg/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
ffmpeg/build/intermediates/incremental/packageDebugResources/aapt-temp/
ffmpeg/build/intermediates/incremental/packageDebugResources/merged.dir/
ffmpeg/build/intermediates/incremental/packageDebugResources/stripped.dir/
ffmpeg/build/intermediates/incremental/packageReleaseResources/aapt-temp/
ffmpeg/build/intermediates/incremental/packageReleaseResources/merged.dir/
ffmpeg/build/intermediates/incremental/packageReleaseResources/stripped.dir/
ffmpeg/build/intermediates/incremental/release-mergeJniLibs/zip-cache/
ffmpeg/build/intermediates/intermediate-jars/debug/jni/
ffmpeg/build/intermediates/intermediate-jars/release/jni/
ffmpeg/build/intermediates/jniLibs/
ffmpeg/build/intermediates/packaged-aidl/
ffmpeg/build/intermediates/packagedAssets/
ffmpeg/build/intermediates/packaged_res/
ffmpeg/build/intermediates/public_res/
ffmpeg/build/intermediates/rs/
ffmpeg/build/intermediates/shaders/
ffmpeg/build/tmp/
