
/.idea/
/.github/
/.gradle/
.gradle/
.idea/caches/
.idea/codeStyles/
.idea/libraries/Gradle____local_aars___E__demo_WEB_yjPlay_cronet_libs_android_70_0_3516_0_Release_cronet_cronet_api_jar_unspecified_jar.xml
.idea/libraries/Gradle____local_aars___E__demo_WEB_yjPlay_cronet_libs_android_70_0_3516_0_Release_cronet_cronet_impl_common_java_jar_unspecified_jar.xml
.idea/libraries/Gradle____local_aars___E__demo_WEB_yjPlay_cronet_libs_android_70_0_3516_0_Release_cronet_cronet_impl_native_java_jar_unspecified_jar.xml
.idea/workspace.xml
VideoPlayModule-Lite/VideoPlayModule-Lite.iml
VideoPlayModule/VideoPlayModule.iml
VideoUi/VideoUi.iml
VideoUi/build/generated/res/pngs/debug/drawable-anydpi-v21/ic_exo_back.xml
VideoUi/build/generated/res/pngs/debug/drawable-anydpi-v21/ic_lock_closed.xml
VideoUi/build/generated/res/pngs/debug/drawable-anydpi-v21/ic_lock_open.xml
VideoUi/build/generated/res/pngs/debug/drawable-hdpi/ic_exo_back.png
VideoUi/build/generated/res/pngs/debug/drawable-hdpi/ic_lock_closed.png
VideoUi/build/generated/res/pngs/debug/drawable-hdpi/ic_lock_open.png
VideoUi/build/generated/res/pngs/debug/drawable-ldpi/ic_exo_back.png
VideoUi/build/generated/res/pngs/debug/drawable-ldpi/ic_lock_closed.png
VideoUi/build/generated/res/pngs/debug/drawable-ldpi/ic_lock_open.png
VideoUi/build/generated/res/pngs/debug/drawable-mdpi/ic_exo_back.png
VideoUi/build/generated/res/pngs/debug/drawable-mdpi/ic_lock_closed.png
VideoUi/build/generated/res/pngs/debug/drawable-mdpi/ic_lock_open.png
VideoUi/build/generated/res/pngs/debug/drawable-xhdpi/ic_exo_back.png
VideoUi/build/generated/res/pngs/debug/drawable-xhdpi/ic_lock_closed.png
VideoUi/build/generated/res/pngs/debug/drawable-xhdpi/ic_lock_open.png
VideoUi/build/generated/res/pngs/debug/drawable-xxhdpi/ic_exo_back.png
VideoUi/build/generated/res/pngs/debug/drawable-xxhdpi/ic_lock_closed.png
VideoUi/build/generated/res/pngs/debug/drawable-xxhdpi/ic_lock_open.png
VideoUi/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_exo_back.png
VideoUi/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_lock_closed.png
VideoUi/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_lock_open.png
VideoUi/build/generated/res/pngs/release/
VideoUi/build/generated/res/resValues/
VideoUi/build/generated/res/rs/
VideoUi/build/generated/source/aidl/
VideoUi/build/generated/source/buildConfig/release/
VideoUi/build/generated/source/rs/
VideoUi/build/intermediates/attr/
VideoUi/build/intermediates/check-manifest/
VideoUi/build/intermediates/incremental/compileReleaseAidl/
VideoUi/build/intermediates/incremental/packageDebugResources/aapt-temp/
VideoUi/build/intermediates/incremental/packageDebugResources/merged.dir/values-us/
VideoUi/build/intermediates/incremental/packageDebugResources/stripped.dir/
VideoUi/build/intermediates/incremental/packageReleaseResources/
VideoUi/build/intermediates/javaPrecompile/
VideoUi/build/intermediates/lint/
VideoUi/build/intermediates/manifests/aapt/debug/output.json
VideoUi/build/intermediates/manifests/aapt/release/
VideoUi/build/intermediates/manifests/full/
VideoUi/build/intermediates/packaged-aidl/
VideoUi/build/intermediates/packaged_res/
VideoUi/build/intermediates/public_res/
VideoUi/build/intermediates/rs/
VideoUi/build/outputs/
app/app.iml
cronet/cronet.iml
ffmpeg/ffmpeg.iml
ima/ima.iml
local.properties
yjPlay.iml
VideoUi/build/generated/assets/
VideoUi/build/generated/mockable-android-27.v3.jar
VideoUi/build/intermediates/blame/
VideoUi/build/intermediates/incremental/debug-mergeJniLibs/
VideoUi/build/intermediates/incremental/mergeDebugJniLibFolders/
VideoUi/build/intermediates/incremental/mergeDebugShaders/
VideoUi/build/intermediates/incremental/mergeReleaseJniLibFolders/
VideoUi/build/intermediates/incremental/mergeReleaseResources/
VideoUi/build/intermediates/incremental/mergeReleaseShaders/
VideoUi/build/intermediates/incremental/packageDebugAssets/
VideoUi/build/intermediates/incremental/packageReleaseAssets/
VideoUi/build/intermediates/incremental/release-mergeJniLibs/
VideoUi/build/intermediates/incremental/verifyReleaseResources/
VideoUi/build/intermediates/intermediate-jars/
VideoUi/build/intermediates/jniLibs/
VideoUi/build/intermediates/library_and_local_jars_jni/
VideoUi/build/intermediates/packagedAssets/
VideoUi/build/intermediates/publish-proguard/
VideoUi/build/intermediates/res/
VideoUi/build/intermediates/shaders/
VideoUi/build/intermediates/transforms/
cronet/build/generated/
cronet/build/intermediates/attr/
cronet/build/intermediates/check-manifest/
cronet/build/intermediates/incremental/
cronet/build/intermediates/intermediate-jars/
cronet/build/intermediates/jniLibs/
cronet/build/intermediates/lint/
cronet/build/intermediates/packaged-aidl/
cronet/build/intermediates/packagedAssets/
cronet/build/intermediates/packaged_res/
cronet/build/intermediates/public_res/
cronet/build/intermediates/rs/
cronet/build/intermediates/shaders/
cronet/build/intermediates/transforms/
ima/build/generated/assets/
ima/build/generated/res/
ima/build/generated/source/aidl/
ima/build/generated/source/rs/
ima/build/intermediates/check-manifest/
ima/build/intermediates/incremental/mergeDebugShaders/
ima/build/intermediates/incremental/packageDebugAssets/
ima/build/intermediates/incremental/packageDebugResources/aapt-temp/
ima/build/intermediates/incremental/packageDebugResources/merged.dir/
ima/build/intermediates/incremental/packageDebugResources/stripped.dir/
ima/build/intermediates/lint/
ima/build/intermediates/packaged-aidl/
ima/build/intermediates/packagedAssets/
ima/build/intermediates/packaged_res/
ima/build/intermediates/public_res/
ima/build/intermediates/rs/
ima/build/intermediates/shaders/
/VideoPlayModule/build/
/VideoPlayModule-Lite/build/
/VideoUi/build/
VideoPlayModule-Lite/build/
VideoPlayModule/build/
VideoUi/build/generated/source/apt/
VideoUi/build/generated/source/r/debug/android/arch/
VideoUi/build/generated/source/r/release/
VideoUi/build/intermediates/annotations/
VideoUi/build/intermediates/classes/
VideoUi/build/intermediates/extractedTypedefs/
VideoUi/build/intermediates/incremental/debug-mergeJavaRes/
VideoUi/build/intermediates/incremental/release-mergeJavaRes/
VideoUi/build/intermediates/packaged-classes/
VideoUi/build/intermediates/symbols/
VideoUi/build/libs/
VideoUi/build/publications/
VideoUi/build/reports/
VideoUi/build/tmp/
build/
cronet/build/intermediates/blame/
cronet/build/intermediates/classes/
cronet/build/intermediates/javaPrecompile/
cronet/build/intermediates/library_and_local_jars_jni/
cronet/build/intermediates/manifests/aapt/release/
cronet/build/intermediates/manifests/full/release/
cronet/build/intermediates/publish-proguard/
cronet/build/intermediates/res/
cronet/build/intermediates/sourceFolderJavaResources/
cronet/build/intermediates/symbols/
cronet/build/outputs/logs/manifest-merger-release-report.txt
cronet/build/tmp/
ffmpeg/build/
ima/build/generated/mockable-android-27.v3.jar
ima/build/generated/source/apt/
ima/build/generated/source/buildConfig/release/
ima/build/generated/source/r/release/
ima/build/intermediates/blame/
ima/build
/intermediates/classes/
ima/build/intermediates/incremental/compileReleaseAidl/
ima/build/intermediates/incremental/debug-mergeJniLibs/
ima/build/intermediates/incremental/mergeDebugJniLibFolders/
ima/build/intermediates/incremental/mergeReleaseJniLibFolders/
ima/build/intermediates/incremental/mergeReleaseResources/
ima/build/intermediates/incremental/mergeReleaseShaders/
ima/build/intermediates/incremental/packageReleaseAssets/
ima/build/intermediates/incremental/packageReleaseResources/
ima/build/intermediates/incremental/release-mergeJniLibs/
ima/build/intermediates/incremental/verifyReleaseResources/
ima/build/intermediates/intermediate-jars/
ima/build/intermediates/javaPrecompile/
ima/build/intermediates/jniLibs/
ima/build/intermediates/library_and_local_jars_jni/
ima/build/intermediates/manifests/aapt/release/
ima/build/intermediates/manifests/full/release/
ima/build/intermediates/publish-proguard/
ima/build/intermediates/res/compiled/
ima/build/intermediates/res/merged/
ima/build/intermediates/res/symbol-table-with-package/release/
ima/build/intermediates/symbols/
ima/build/intermediates/transforms/
ima/build/outputs/logs/manifest-merger-release-report.txt
ima/build/tmp/
!/.idea/
/tv/build/
.idea/encodings.xml
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/libraries/Gradle__com_anbetter_MLog_1_1_0.xml
.idea/libraries/Gradle__com_android_support_exifinterface_26_1_0.xml
.idea/libraries/Gradle__com_android_support_multidex_1_0_2.xml
.idea/libraries/Gradle__com_android_support_multidex_instrumentation_1_0_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_2_2_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_2_2_2.xml
.idea/libraries/Gradle__com_android_support_test_exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/Gradle__com_android_support_test_rules_0_5.xml
.idea/libraries/Gradle__com_android_support_test_runner_0_5.xml
.idea/libraries/Gradle__com_davemorrissey_labs_subsampling_scale_image_view_3_9_0.xml
.idea/libraries/Gradle__com_facebook_fresco_animated_base_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_animated_drawable_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_animated_gif_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_animated_webp_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_drawee_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_fbcore_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_fresco_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_helper_fresco_helper_2_0_3.xml
.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_base_1_5_0.xml
.idea/libraries/Gradle__com_facebook_fresco_webpsupport_1_5_0.xml
.idea/libraries/Gradle__com_github_CymChad_BaseRecyclerViewAdapterHelper_2_9_34.xml
.idea/libraries/Gradle__com_github_bumptech_glide_glide_3_7_0_jar.xml
.idea/libraries/Gradle__com_github_ctiao_DanmakuFlameMaster_0_9_25.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_0_jar.xml
.idea/libraries/Gradle__com_parse_bolts_bolts_tasks_1_4_0_jar.xml
.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
.idea/libraries/Gradle__com_squareup_okio_okio_1_14_0_jar.xml
.idea/libraries/Gradle__com_wang_avi_library_2_1_3.xml
.idea/libraries/Gradle__com_ycjiang_VideoPlayModule_2_3_10.xml
.idea/libraries/Gradle__com_ycjiang_VideoPlayModule_Lite_2_3_10.xml
.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_2_jar.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
.idea/libraries/Gradle__junit_junit_4_12_jar.xml
.idea/libraries/Gradle__net_butterflytv_utils_rtmp_client_3_0_1.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
VideoPlayModule-Lite/src/main/java/chuangyuan/ycj/videolibrary/listener/OnEndGestureListener.java
VideoPlayModule-Lite/src/main/res/values/drawables.xml
VideoPlayModule/libs/
app/release/
"app/src/main/assets/\346\210\230\346\227\227\346\272\220\345\244\247\345\205\250.txt"
app/src/main/res/values/ids_2.xml
ffmpeg/buildout/
ffmpeg/extension-ffmpeg.iml
